@charset "UTF-8";

body {
  width:100vw;
  height:100vh;
  margin:0;
}


#webapp::-webkit-scrollbar { display: none; }

#webapp {
  font-family: 'Roboto', helvetica, sans-serif;
  position: relative; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

input:focus, button:focus, select:focus {outline:transparent;}



/* all timers */

.displayNone {
  display:none;
}

.displayBlock {
  display:block;
}

/*slider*/

#slider
  {
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
  }

.slides
  {
  height:100vh;  
  }

.bx-wrapper {
  margin-bottom:0;
  box-shadow: 0;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  border: 0;
}

/* slider outdoor images */

.outdoorSlider {
  position:absolute;
  width:100%;
  height:100%;
  display:none;
}

/* SWITCH OFF */

.switchdark {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  position:absolute;
  z-index: 1; /* Stay below all other assets */
}

/* PANELS TO KEEP z-indexing EASIER */

#toppanel {
  position: relative;
  top:0;
  left:0;
  z-index:12345;
}

#bottompanel{
  position:absolute;
  bottom:0;
  width:100%;
  z-index: 12345;
}

/* DOTS */

#credit 
  { 
  margin:auto; 
  color:#bbbbbb; 
  padding-top: 25px;
  }

.choose-bg { text-align: center; }


.bx-wrapper .bx-pager.bx-default-pager {
  bottom: auto;
  top: 30px;
  z-index: 200
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width:14px;
  height:14px;
  border-radius:7px;
  margin: 5px 10px;
  background: transparent;
  border: 1px solid #bbb;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #bbb;
}






/* TOP BUTTON */


.button {
  position: absolute; 
  width: 50px;
  height: 50px;
  font-size: 2em;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 50%;
  border: 0;
  color: white;
  cursor: pointer;
}

.btnSwitch { top: 25px; left: 25px; }
.btnFAQ { top: 25px; right: 25px; }
.btnShare { top: 85px; right: 25px; font-size: 1.7em;}
.btnMail { top: 145px; right: 25px; font-size: 1.5em;}

.button:active, .button:hover {
  background-color: rgba(255,0,104,0.5);
}




/* HIDDEN BUTTONS */


.hiddenbutton {
  position:absolute;
  top:69px; /* ??? */
  right: 86px;
  display:none;
  width: 240px;
  height:200px;
  /* CANNOT USE OVERFLOW FOR FIXED ELEMENTS. */
  clip: rect(auto, auto, auto, auto);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hiddenbutton ul li {
  display:inline;
  margin: 30px;
}

.hiddenbutton li:last-child {
  margin-right: 10px;
}



/* NAVIGATION */


ul.bottomnav {
 position: absolute;
 left: 25px;
 bottom: 25px;
 -webkit-padding-start: 0px;
}

ul.bottomnav li {
  display: inline;
  margin: 10px;
}

ul.bottomnav li:first-child {
  margin-left: 0;

}

ul.cta {
  position:absolute;
  right: 25px;
  bottom: 25px;
}

ul.cta li {
  display: inline;
  margin: 10px;
}

ul.cta li:last-child {
  margin-right: 0;
}

.menu {
    width: 160px;
    text-align: center;
    background-color: #ffffff; /* Grey */
    border: none;
    border-bottom: 5px solid transparent;
    padding: 15px 20px;
    padding-bottom: 10px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.menuGetQuote, .menuCheckout {
  border-radius: 15px;
  background-color: #4a00a3;
  color: white; 
  font-weight: 700;
}

.menuGetQuote:active, .menuGetQuote:hover, .menuCheckout:active, .menuCheckout:hover {
  background-color:#ff0068;
}



/* MODAL */

.modal {
  position: absolute;
  top: 25%;
  overflow: hidden;
  padding: 30px;
  background-color: #ffffff;
  font-size: 1em;
  color: #111;
  z-index: 123456;
  display:none;
  box-shadow: 10px 10px 5px rgba(171,171,171,0.5);
}

.modal h1 {
  font-size: 1.3em;
  margin-top:0;
  margin-bottom: 20px;
  color:#4a00a3;
}

.modal input {
  border: 1px solid #ccc;
  margin-left: 10px;
  font-size:1em;
  padding: 5px;
}

#modalname {
  width: 150px;
  margin-right: 50px;
}

#modalemail {
  width: 250px;
}

#subscribe {
  margin-top: 20px;
}

.modalbutton {
  width: 100px;
  padding: 5px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #4a00a3;
  color: white; 
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  float:right;
  display: inline-block;
  
}

#email {
  width: 600px;
}

#faqText, #faqColor, #faqShape, #faqInstallation, #faqQtyShipping {
  width: 500px;
}


/* BOTTOM TAB */


/* Create an active/current tablink class */
.menu.active {
    border-bottom: 5px solid #fc0065;
}

.menuGetQuote.active, .menuCheckout.active {
  border-bottom: 5px solid transparent;
}

/* Style the tab content */
.tabcontent {
    position:relative;
    bottom: 120px;
    width:auto;
    height: 200px;
    display: none;
}

.tabbox {
    position: absolute;
    right:25px;
    height: 180px;
    padding: 6px 12px;
    background-color: #ffffff;
    color: #212121;
    overflow: scroll; /* style scroll bar */ 
}
/*
.tabwrap {
    overflow:hidden;
    margin: 5px;
}*/



.tabbox::-webkit-scrollbar
{
  width:8px;
  height:24px;
  background-color: #fff;
}

.tabbox::-webkit-scrollbar-track
{
  background-color: #fff;
}

.tabbox::-webkit-scrollbar-thumb
{
  background-color: #4a00a3;
  border-radius: 12px;
  border: 8px solid #fff;
  max-width:100px;

}


.quoteTabbox {
    position: absolute;
    right:25px;
    width:350px;
    height:180px;
    padding: 6px 12px;
    background-color: #ffffff;
    color: #212121;
    overflow: hidden;
}

.btnContentClose, .btnContentModalFAQ {
  padding: 8px 10px 8px 10px;
  background-color: #4a00a3;
  color: white;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 38px;
}
    
      .modalclose {/* close icon for modals only */    
        right: 12px;
        top:12px;
      }

.btnContentModalFAQ {
  right: 80px;
  padding-left: 12px;
  padding-right: 12px;
}

.bubblepointer{
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position:absolute;
  top: 190px;
}

.toText {
  left: 85px;
}

.toColor {
  left: 269px;
}

.toShape{
  left: 450px;
}

.toInstallation {
  left:635px;
}

.toQtyShipping {
  left: 818px;
}

.toGetQuote {
  right: 269px;
}

.toPurchase {
  right: 85px;
}

.contentHeader { color: #4a00a3; }

.tabsection {
  position:absolute; 
  top:12px;
  max-height:130px;
  overflow:hidden;
  padding:12px;
}

.quoteTabbox .tabsection {
  max-width:330px;
}

.tabsection h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.infoText {
  width: 340px;
}

.quoteText {
  width:340px;
}

.infoText p, .quoteText p {
  line-height: 1.2em;
}

.quoteText h4 {
  margin-bottom:0;
}

.sizeAlign {
 top: 52px;
 left: 1104px;
 width: 150px;
}

.availFonts,.availColors,.indoorOutdoor, .availNails {
  left:360px;
  width: 720px;
}

.availColors { width: 900px; }

.availColors p, .indoorOutdoor p, .availNails p {
  margin:0;
}

.colorType { 
  width: 250px; 
  height: 90px;
  display: inline-block;
}

.pure {
  width:270px;
}

.solid {
  width:300px;
}

.pure, .solid {
  margin-left: 10px;
}

.tabcontent label {
  float: left;
  margin: 3px;
  padding:0;
  text-align: center;
}

#QtyShipping.tabcontent label {
  margin-left: 0;
}

.tabcontent label img {
  padding:0;
  vertical-align: middle;
  border: 2px transparent;
}

.availFonts label img {
  width: 170px;
  height: 40px; 
}

.sizeAlign label img {
  height:40px;
  width: auto;
}

.sizeAlign label i {
  font-size: 2em;
  margin-top:5px;
  padding: 2px 4px;
  vertical-align: middle;
}

.fontAlign label img {
  border: 0;
}

p.colorSummary{
  margin-bottom:15px;
}

.colorType label img{
  width:30px;
  height:30px;  
}

input[type="radio"] { display: none; }

input[type="radio"]:checked+label:not(.displayRadio) {
  outline: solid 2px #fc0065;
}

input[type="radio"]:disabled+label {
  display:none;
}

.displayRadio, 
.qtyShipping label,
.basicInfo label,
.comment label: {
  text-align: left !important;
  border: none !important;
}

.indoorOutdoor input[type="radio"] {
  display: inherit;
  float: left;
  margin-top: 6px;
  margin-right: 10px;
}

.availNails input[type="radio"] {
  display: inherit;
  float: left;
  margin-top: 6px;
  margin-right: 10px;
}

label.displayRadio {
  margin-right: 30px;
}

.indoorOutdoor {
  width:380px;
}

.availShapes {
  top:51px;
  left: 710px;
  width:480px;
  padding-bottom: 0;
}

.availShapes label img {
  padding-bottom: 0;
}

.availNails p {
  max-width: 300px;
}



/* QTY & SHIPPING INPUT */


/* NOTHING IS HAPPENING WITH THESE LINES...

.qtyShipping label,
.basicInfo label
.comment label {
  line-height: 1.2em;
}*/

#qty, #name, #basicEmail, #basicZipcode, #basicCountry, #comment {
  margin-left: 20px;
  border: 1px solid #ccc;
  font-size: 1em;
  max-width: 245px;
  padding: 5px;
}

#qty:focus, #name:focus, #basicEmail:focus, #baiscZipcode:focus, #comment:focus {
  border: 1px solid #fc0065;
} 

#qty {
  max-width: 70px;
}

#basicZipcode {
  max-width: 75px;
}

#basicCountry {
  margin-left: 5px;
  width: 160px;
  height: 31px;
}

#comment {
  resize:none;
  font-size:1em;
  max-width: 345px;
  height:125px;
  color: #444;
}

.qtyLabel {
  width: 30px;
  margin-bottom: 10px;
  line-height: 0.1em !important;
}

.basicInfo {
  left: 300px;
  width: 360px;
}

.basicInfo label {
  display:inline-block;
  width:75px;
  text-align: right;
}

.ifield {
  margin-bottom: 20px;
}

.comment {
  left:720px;
  width: 550px;
}


.quoteText h4, h4.widthHeight {
  font-size: 1.4em;
  color: #333;
}

.dollar {
  font-size:2em;
}

.sign-size {
  position: absolute;
  top: 32.5px;
  left: 100px;
}

h4.widthHeight {
  color: #fff;
  text-shadow: 2px 2px 4px #212121;
}




/* tinted overlay */


/* Gradients */

.gradient-cw {
  background: -webkit-radial-gradient(rgba(245,245,245,0.15), rgba(245,245,245,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(245,245,245,0.15), rgba(245,245,245,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(245,245,245,0.15), rgba(245,245,245,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(245,245,245,0), rgb(245,245,245,0.15)); /* Standard syntax (must be last) */
}

.gradient-ww {
  background: -webkit-radial-gradient(rgba(255,249,185,0.15), rgba(255,249,185,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(255,249,185,0.15), rgba(255,249,185,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(255,249,185,0.15), rgba(255,249,185,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(255,249,185,0), rgb(255,249,185,0.15)); /* Standard syntax (must be last) */
}

.gradient-wr {
  background: -webkit-radial-gradient(rgba(255,82,87,0.15), rgba(255,82,87,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(255,82,87,0.15), rgba(255,82,87,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(255,82,87,0.15), rgba(255,82,87,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(255,82,87,0), rgb(255,82,87,0.15)); /* Standard syntax (must be last) */
}

.gradient-wo {
  background: -webkit-radial-gradient(rgba(255,95,66,0.15), rgba(255,95,66,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(255,95,66,0.15), rgba(255,95,66,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(255,95,66,0.15), rgba(255,95,66,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(255,95,66,0), rgb(255,95,66,0.15)); /* Standard syntax (must be last) */
}

.gradient-wg {
  background: -webkit-radial-gradient(rgba(43,255,152,0.15), rgba(43,255,152,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(43,255,152,0.15), rgba(43,255,152,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(43,255,152,0.15), rgba(43,255,152,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(43,255,152,0), rgb(43,255,152,0.15)); /* Standard syntax (must be last) */
}

.gradient-wb {
  background: -webkit-radial-gradient(rgba(83,225,255,0.2), rgba(83,225,255,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(83,225,255,0.2), rgba(83,225,255,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(83,225,255,0.2), rgba(83,225,255,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(83,225,255,0), rgb(83,225,255,0.2)); /* Standard syntax (must be last) */
}

.gradient-wp {
  background: -webkit-radial-gradient(rgba(255,87,255,0.15), rgba(255,87,255,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(255,87,255,0.15), rgba(255,87,255,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(255,87,255,0.15), rgba(255,87,255,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(255,87,255,0), rgb(255,87,255,0.15)); /* Standard syntax (must be last) */
}

.gradient-cr {
  background: -webkit-radial-gradient(rgba(254,55,65,0.15), rgba(254,55,65,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(254,55,65,0.15), rgba(254,55,65,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(254,55,65,0.15), rgba(254,55,65,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(254,55,65,0), rgb(254,55,65,0.15)); /* Standard syntax (must be last) */
}

.gradient-co {
  background: -webkit-radial-gradient(rgba(254,151,68,0.15), rgba(254,151,68,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(254,151,68,0.15), rgba(254,151,68,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(254,151,68,0.15), rgba(254,151,68,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(254,151,68,0), rgb(254,151,68,0.15)); /* Standard syntax (must be last) */
}

.gradient-cy {
  background: -webkit-radial-gradient(rgba(255,255,93,0.15), rgba(255,255,93,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(255,255,93,0.15), rgba(255,255,93,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(255,255,93,0.15), rgba(255,255,93,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(255,255,93,0), rgb(255,255,93,0.15)); /* Standard syntax (must be last) */
}

.gradient-cly {
  background: -webkit-radial-gradient(rgba(255,255,174,0.15), rgba(255,255,174,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(255,255,174,0.15), rgba(255,255,174,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(255,255,174,0.15), rgba(255,255,174,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(255,255,174,0), rgb(255,255,174,0.15)); /* Standard syntax (must be last) */
}

.gradient-cg {
  background: -webkit-radial-gradient(rgba(16,255,116,0.15), rgba(16,255,116,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(16,255,116,0.15), rgba(16,255,116,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(16,255,116,0.15), rgba(16,255,116,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(16,255,116,0), rgb(16,255,116,0.15)); /* Standard syntax (must be last) */
}

.gradient-cb {
  background: -webkit-radial-gradient(rgba(1,57,255,0.15), rgba(1,57,255,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(1,57,255,0.15), rgba(1,57,255,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(1,57,255,0.15), rgba(1,57,255,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(1,57,255,0), rgb(1,57,255,0.15)); /* Standard syntax (must be last) */
}

.gradient-cp {
  background: -webkit-radial-gradient(rgba(254,31,125,0.15), rgba(254,31,125,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(254,31,125,0.15), rgba(254,31,125,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(254,31,125,0.15), rgba(254,31,125,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(254,31,125,0), rgb(254,31,125,0.15)); /* Standard syntax (must be last) */

}

