@charset "UTF-8";



.widther {
	width: 100%;
	height: 100%;
	position:relative;
}

/* TextArea Default */

textarea:focus {
	outline:transparent;
}

.clientTextBase {
	position:absolute;
	z-index:11111;
	width:220px;
	height: auto;
	padding:10px;
	resize:none;
	border:transparent;
	background: transparent;
	color: #fff;
	font-size:3.2em;
	vertical-align: middle;
	text-align: center;
	display:block;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.backdrop {
	position:absolute;
	z-index:10000;
	width:10px;
	height:auto;
	padding:10px;
	color: rgba(255,255,255,0.35);
	vertical-align: middle;
	text-align: center;
	opacity:0;
	display:block;
	margin:auto;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}


/* font */

.size-small {
	font-size: 3.2em;
}

.size-medium {
	font-size: 5.6em;
}

.size-large {
	font-size:8em;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.fontA {
	font-family: helvetica;
}

.fontB {
	font-family: arial;
}

.fontC {
	font-family: times;
}

.fontD {
	font-family: courier;
}

.fontE {
	font-family: 'Comic Sans';
}

.fontF {
	font-family: 'roboto';
}

.fontG {
	font-family: verdana;
}

.fontH {
	font-family: georgia;
}


/* color */

.cw {
color: #F8F9FF;
-webkit-text-stroke: 1px #FFF;
text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 20px #EEF2FF, 0 0 30px #EEF2FF, 0 0 40px #EEF2FF, 0 0 55px #EEF2FF, 0 0 75px #EEF2FF;
}


.cr {
color: #fc0d1f;
-webkit-text-stroke: 1px #FE4444;
text-shadow: 0 0 5px #FF6674, 0 0 5px #FF6674, 0 0 5px #FF6A62, 0 0 30px #FF6A62, 0 0 45px #FF6A62, 0 0 65px #FF6A62;
}

.co {
color: #ff4a12;
-webkit-text-stroke: 1px #FF6312;
text-shadow: 0 0 2px #FF9812, 0 0 2px #FF9812, 0 0 10px #FF8D12, 0 0 30px #FF8D12, 0 0 45px #FF8D12, 0 0 65px #FFBE5D;
}

.cgd {
color: #ffcf44;
-webkit-text-stroke: 1px #FFDD44;
text-shadow: 0 0 5px #FFEAA7, 0 0 5px #FFEAA7, 0 0 10px #FFE967, 0 0 30px #FFE967, 0 0 45px #FFE967, 0 0 65px #FFE967;
}

.cg{
color: #00ef00;
-webkit-text-stroke: 1px #00F800;
text-shadow: 0 0 5px #aaFF88, 0 0 5px #aaFF88, 0 0 10px #98FF7E, 0 0 30px #98FF7E, 0 0 45px #98FF7E, 0 0 65px #98FF7E;
}

.cb {
color: #0436ff;
-webkit-text-stroke: 1px #2c6fff;
text-shadow: 0 0 5px #0098ff, 0 0 5px #3c63ff, 0 0 10px #0180FF, 0 0 30px #0180FF, 0 0 45px #4BBDFF, 0 0 65px #73CFFF;
}

.cp {
color: #ff00e1;
-webkit-text-stroke: 1px #ff45ee;
text-shadow: 0 0 5px #ffb6f6, 0 0 5px #ffb6f6, 0 0 10px #ff57f0, 0 0 30px #ff57f0, 0 0 45px #ff57f0, 0 0 65px #ff57f0;
}

.cy {
color: #fff86c;
-webkit-text-stroke: 1px #FFFFae;
text-shadow: 0 0 5px #FFF781, 0 0 5px #FFF781, 0 0 10px #FFF389, 0 0 30px #FFF389, 0 0 45px #FFF389, 0 0 65px #FFF389;
}


.ww {
color: #fcf6eb;
-webkit-text-stroke: 1px #fff;
text-shadow: 0 0 5px #FEFBFB, 0 0 5px #FEFBFB, 0 0 20px #FFFAEE, 0 0 30px #FFFAEE, 0 0 40px #FFFAEE, 0 0 55px #FFFAEE, 0 0 75px #FFFAEE;
}

.wr {
color: #ff4856;
-webkit-text-stroke: 1px #FF5257;
text-shadow: 0 0 5px #FF8774, 0 0 5px #FF8774, 0 0 10px #FF5257, 0 0 30px #FF5257, 0 0 45px #FF5257, 0 0 65px #FF5257;
}

.wo {
color: #ff7640;
-webkit-text-stroke: 1px #FF875A;
text-shadow: 0 0 5px #FF5F42, 0 0 5px #FF5F42, 0 0 10px #FFBD72, 0 0 30px #FFBD72, 0 0 45px #FF5F42, 0 0 65px #FF5F42;
}

.wg {
color: #58f458;
-webkit-text-stroke: 1px #69F570;
text-shadow: 0 0 5px #4CFFA6, 0 0 5px #4CFFA6, 0 0 10px #80FF9B, 0 0 30px #80FF9B, 0 0 45px #80FF9B, 0 0 65px #80FF9B;
}

.wb {
color: #5182fc;
-webkit-text-stroke: 1px #5597FF;
text-shadow: 0 0 5px #01aaFF, 0 0 5px #01aaFF, 0 0 10px #11ccFF, 0 0 30px #11ccFF, 0 0 45px #11ccFF, 0 0 65px #11ccFF;
}

.wp {
color: #ff52ff;
-webkit-text-stroke: 1px #FF72FF;
text-shadow: 0 0 5px #FF75FF, 0 0 5px #FF75FF, 0 0 10px #FF97FF, 0 0 30px #FF97FF, 0 0 45px #FF97FF, 0 0 65px #FF97FF;
}



/* off */

.woff {
color: #dddddd;
-webkit-text-stroke: 1px #C9c9c9;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 5px 10px 10px rgba(0, 0, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3); 
}



.croff {
color: #fc0d1f;
-webkit-text-stroke: 1px #a42728;
text-shadow: 2px 2px 5px rgba(50, 0, 0, 0.5), 5px 10px 10px rgba(30, 0, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cooff {
color: #ff6d00;
-webkit-text-stroke: 1px #F17A17;
text-shadow: 2px 2px 5px rgba(50, 20, 0, 0.5), 5px 10px 10px rgba(30, 10, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cgdoff {
color: #ffe000;
-webkit-text-stroke: 1px #F2BB19;
text-shadow: 2px 2px 5px rgba(50, 20, 0, 0.5), 5px 10px 10px rgba(30, 10, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cyoff {
color: #f9f328;
-webkit-text-stroke: 1px #F0DD4D;
text-shadow: 2px 2px 5px rgba(50, 50, 0, 0.5), 5px 10px 10px rgba(30, 30, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cgoff{
color: #12c649;
-webkit-text-stroke: 1px #1CAF65;
text-shadow: 2px 2px 5px rgba(10, 50, 20, 0.5), 5px 10px 10px rgba(5, 30, 10, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cboff {
color: #5f9cff;
-webkit-text-stroke: 1px #3D87D5;
text-shadow: 2px 2px 5px rgba(10, 20, 50, 0.5), 5px 10px 10px rgba(5, 10, 30, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cpoff {
color: #e803c7;
-webkit-text-stroke: 1px #AC3078;
text-shadow: 2px 2px 5px rgba(50, 10, 40, 0.5), 5px 10px 10px rgba(30, 5, 20, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}


/*shape*/



.backdropSquare{
overflow:hidden;
background: #fff;
opacity: .1;
transform:translateX(-50%);
}

.backdropCircle{
border-radius: 50%;
transform: translateX(-50%) scale(1.15, 1.15);
}

.backdropRectangle{
overflow:hidden;
background: #fff;
opacity: .1;
}

.metal{
background: -moz-linear-gradient(-45deg, #111111 1%, #4c4c4c 14%, #595959 19%, #666666 32%, #474747 43%, #2c2c2c 51%, #111111 62%, #000000 69%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #111111 1%,#4c4c4c 14%,#595959 19%,#666666 32%,#474747 43%,#2c2c2c 51%,#111111 62%,#000000 69%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #111111 1%,#4c4c4c 14%,#595959 19%,#666666 32%,#474747 43%,#2c2c2c 51%,#111111 62%,#000000 69%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color: transparent;
opacity: 1;
}


.backdropOutline {
text-shadow: -15px -4px 0 #fff, -15px -3px 0 #fff, -15px -2px 0 #fff, -15px -1px 0 #fff, -15px 0px 0 #fff, -15px 1px 0 #fff, -15px 2px 0 #fff, -15px 3px 0 #fff, -15px 4px 0 #fff, -14px -7px 0 #fff, -14px -6px 0 #fff, -14px -5px 0 #fff, -14px -4px 0 #fff, -14px -3px 0 #fff, -14px -2px 0 #fff, -14px -1px 0 #fff, -14px 0px 0 #fff, -14px 1px 0 #fff, -14px 2px 0 #fff, -14px 3px 0 #fff, -14px 4px 0 #fff, -14px 5px 0 #fff, -14px 6px 0 #fff, -14px 7px 0 #fff, -13px -8px 0 #fff, -13px -7px 0 #fff, -13px -6px 0 #fff, -13px -5px 0 #fff, -13px -4px 0 #fff, -13px -3px 0 #fff, -13px -2px 0 #fff, -13px -1px 0 #fff, -13px 0px 0 #fff, -13px 1px 0 #fff, -13px 2px 0 #fff, -13px 3px 0 #fff, -13px 4px 0 #fff, -13px 5px 0 #fff, -13px 6px 0 #fff, -13px 7px 0 #fff, -13px 8px 0 #fff, -12px -10px 0 #fff, -12px -9px 0 #fff, -12px -8px 0 #fff, -12px -7px 0 #fff, -12px -6px 0 #fff, -12px -5px 0 #fff, -12px -4px 0 #fff, -12px -3px 0 #fff, -12px -2px 0 #fff, -12px -1px 0 #fff, -12px 0px 0 #fff, -12px 1px 0 #fff, -12px 2px 0 #fff, -12px 3px 0 #fff, -12px 4px 0 #fff, -12px 5px 0 #fff, -12px 6px 0 #fff, -12px 7px 0 #fff, -12px 8px 0 #fff, -12px 9px 0 #fff, -12px 10px 0 #fff, -11px -11px 0 #fff, -11px -10px 0 #fff, -11px -9px 0 #fff, -11px -8px 0 #fff, -11px -7px 0 #fff, -11px -6px 0 #fff, -11px -5px 0 #fff, -11px -4px 0 #fff, -11px -3px 0 #fff, -11px -2px 0 #fff, -11px -1px 0 #fff, -11px 0px 0 #fff, -11px 1px 0 #fff, -11px 2px 0 #fff, -11px 3px 0 #fff, -11px 4px 0 #fff, -11px 5px 0 #fff, -11px 6px 0 #fff, -11px 7px 0 #fff, -11px 8px 0 #fff, -11px 9px 0 #fff, -11px 10px 0 #fff, -11px 11px 0 #fff, -10px -12px 0 #fff, -10px -11px 0 #fff, -10px -10px 0 #fff, -10px -9px 0 #fff, -10px -8px 0 #fff, -10px -7px 0 #fff, -10px -6px 0 #fff, -10px -5px 0 #fff, -10px -4px 0 #fff, -10px -3px 0 #fff, -10px -2px 0 #fff, -10px -1px 0 #fff, -10px 0px 0 #fff, -10px 1px 0 #fff, -10px 2px 0 #fff, -10px 3px 0 #fff, -10px 4px 0 #fff, -10px 5px 0 #fff, -10px 6px 0 #fff, -10px 7px 0 #fff, -10px 8px 0 #fff, -10px 9px 0 #fff, -10px 10px 0 #fff, -10px 11px 0 #fff, -10px 12px 0 #fff, -9px -12px 0 #fff, -9px -11px 0 #fff, -9px -10px 0 #fff, -9px -9px 0 #fff, -9px -8px 0 #fff, -9px -7px 0 #fff, -9px -6px 0 #fff, -9px -5px 0 #fff, -9px -4px 0 #fff, -9px -3px 0 #fff, -9px -2px 0 #fff, -9px -1px 0 #fff, -9px 0px 0 #fff, -9px 1px 0 #fff, -9px 2px 0 #fff, -9px 3px 0 #fff, -9px 4px 0 #fff, -9px 5px 0 #fff, -9px 6px 0 #fff, -9px 7px 0 #fff, -9px 8px 0 #fff, -9px 9px 0 #fff, -9px 10px 0 #fff, -9px 11px 0 #fff, -9px 12px 0 #fff, -8px -13px 0 #fff, -8px -12px 0 #fff, -8px -11px 0 #fff, -8px -10px 0 #fff, -8px -9px 0 #fff, -8px -8px 0 #fff, -8px -7px 0 #fff, -8px -6px 0 #fff, -8px -5px 0 #fff, -8px -4px 0 #fff, -8px -3px 0 #fff, -8px -2px 0 #fff, -8px -1px 0 #fff, -8px 0px 0 #fff, -8px 1px 0 #fff, -8px 2px 0 #fff, -8px 3px 0 #fff, -8px 4px 0 #fff, -8px 5px 0 #fff, -8px 6px 0 #fff, -8px 7px 0 #fff, -8px 8px 0 #fff, -8px 9px 0 #fff, -8px 10px 0 #fff, -8px 11px 0 #fff, -8px 12px 0 #fff, -8px 13px 0 #fff, -7px -14px 0 #fff, -7px -13px 0 #fff, -7px -12px 0 #fff, -7px -11px 0 #fff, -7px -10px 0 #fff, -7px -9px 0 #fff, -7px -8px 0 #fff, -7px -7px 0 #fff, -7px -6px 0 #fff, -7px -5px 0 #fff, -7px -4px 0 #fff, -7px -3px 0 #fff, -7px -2px 0 #fff, -7px -1px 0 #fff, -7px 0px 0 #fff, -7px 1px 0 #fff, -7px 2px 0 #fff, -7px 3px 0 #fff, -7px 4px 0 #fff, -7px 5px 0 #fff, -7px 6px 0 #fff, -7px 7px 0 #fff, -7px 8px 0 #fff, -7px 9px 0 #fff, -7px 10px 0 #fff, -7px 11px 0 #fff, -7px 12px 0 #fff, -7px 13px 0 #fff, -7px 14px 0 #fff, -6px -14px 0 #fff, -6px -13px 0 #fff, -6px -12px 0 #fff, -6px -11px 0 #fff, -6px -10px 0 #fff, -6px -9px 0 #fff, -6px -8px 0 #fff, -6px -7px 0 #fff, -6px -6px 0 #fff, -6px -5px 0 #fff, -6px -4px 0 #fff, -6px -3px 0 #fff, -6px -2px 0 #fff, -6px -1px 0 #fff, -6px 0px 0 #fff, -6px 1px 0 #fff, -6px 2px 0 #fff, -6px 3px 0 #fff, -6px 4px 0 #fff, -6px 5px 0 #fff, -6px 6px 0 #fff, -6px 7px 0 #fff, -6px 8px 0 #fff, -6px 9px 0 #fff, -6px 10px 0 #fff, -6px 11px 0 #fff, -6px 12px 0 #fff, -6px 13px 0 #fff, -6px 14px 0 #fff, -5px -14px 0 #fff, -5px -13px 0 #fff, -5px -12px 0 #fff, -5px -11px 0 #fff, -5px -10px 0 #fff, -5px -9px 0 #fff, -5px -8px 0 #fff, -5px -7px 0 #fff, -5px -6px 0 #fff, -5px -5px 0 #fff, -5px -4px 0 #fff, -5px -3px 0 #fff, -5px -2px 0 #fff, -5px -1px 0 #fff, -5px 0px 0 #fff, -5px 1px 0 #fff, -5px 2px 0 #fff, -5px 3px 0 #fff, -5px 4px 0 #fff, -5px 5px 0 #fff, -5px 6px 0 #fff, -5px 7px 0 #fff, -5px 8px 0 #fff, -5px 9px 0 #fff, -5px 10px 0 #fff, -5px 11px 0 #fff, -5px 12px 0 #fff, -5px 13px 0 #fff, -5px 14px 0 #fff, -4px -15px 0 #fff, -4px -14px 0 #fff, -4px -13px 0 #fff, -4px -12px 0 #fff, -4px -11px 0 #fff, -4px -10px 0 #fff, -4px -9px 0 #fff, -4px -8px 0 #fff, -4px -7px 0 #fff, -4px -6px 0 #fff, -4px -5px 0 #fff, -4px -4px 0 #fff, -4px -3px 0 #fff, -4px -2px 0 #fff, -4px -1px 0 #fff, -4px 0px 0 #fff, -4px 1px 0 #fff, -4px 2px 0 #fff, -4px 3px 0 #fff, -4px 4px 0 #fff, -4px 5px 0 #fff, -4px 6px 0 #fff, -4px 7px 0 #fff, -4px 8px 0 #fff, -4px 9px 0 #fff, -4px 10px 0 #fff, -4px 11px 0 #fff, -4px 12px 0 #fff, -4px 13px 0 #fff, -4px 14px 0 #fff, -4px 15px 0 #fff, -3px -15px 0 #fff, -3px -14px 0 #fff, -3px -13px 0 #fff, -3px -12px 0 #fff, -3px -11px 0 #fff, -3px -10px 0 #fff, -3px -9px 0 #fff, -3px -8px 0 #fff, -3px -7px 0 #fff, -3px -6px 0 #fff, -3px -5px 0 #fff, -3px -4px 0 #fff, -3px -3px 0 #fff, -3px -2px 0 #fff, -3px -1px 0 #fff, -3px 0px 0 #fff, -3px 1px 0 #fff, -3px 2px 0 #fff, -3px 3px 0 #fff, -3px 4px 0 #fff, -3px 5px 0 #fff, -3px 6px 0 #fff, -3px 7px 0 #fff, -3px 8px 0 #fff, -3px 9px 0 #fff, -3px 10px 0 #fff, -3px 11px 0 #fff, -3px 12px 0 #fff, -3px 13px 0 #fff, -3px 14px 0 #fff, -3px 15px 0 #fff, -2px -15px 0 #fff, -2px -14px 0 #fff, -2px -13px 0 #fff, -2px -12px 0 #fff, -2px -11px 0 #fff, -2px -10px 0 #fff, -2px -9px 0 #fff, -2px -8px 0 #fff, -2px -7px 0 #fff, -2px -6px 0 #fff, -2px -5px 0 #fff, -2px -4px 0 #fff, -2px -3px 0 #fff, -2px -2px 0 #fff, -2px -1px 0 #fff, -2px 0px 0 #fff, -2px 1px 0 #fff, -2px 2px 0 #fff, -2px 3px 0 #fff, -2px 4px 0 #fff, -2px 5px 0 #fff, -2px 6px 0 #fff, -2px 7px 0 #fff, -2px 8px 0 #fff, -2px 9px 0 #fff, -2px 10px 0 #fff, -2px 11px 0 #fff, -2px 12px 0 #fff, -2px 13px 0 #fff, -2px 14px 0 #fff, -2px 15px 0 #fff, -1px -15px 0 #fff, -1px -14px 0 #fff, -1px -13px 0 #fff, -1px -12px 0 #fff, -1px -11px 0 #fff, -1px -10px 0 #fff, -1px -9px 0 #fff, -1px -8px 0 #fff, -1px -7px 0 #fff, -1px -6px 0 #fff, -1px -5px 0 #fff, -1px -4px 0 #fff, -1px -3px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff, -1px 0px 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, -1px 3px 0 #fff, -1px 4px 0 #fff, -1px 5px 0 #fff, -1px 6px 0 #fff, -1px 7px 0 #fff, -1px 8px 0 #fff, -1px 9px 0 #fff, -1px 10px 0 #fff, -1px 11px 0 #fff, -1px 12px 0 #fff, -1px 13px 0 #fff, -1px 14px 0 #fff, -1px 15px 0 #fff, 0px -15px 0 #fff, 0px -14px 0 #fff, 0px -13px 0 #fff, 0px -12px 0 #fff, 0px -11px 0 #fff, 0px -10px 0 #fff, 0px -9px 0 #fff, 0px -8px 0 #fff, 0px -7px 0 #fff, 0px -6px 0 #fff, 0px -5px 0 #fff, 0px -4px 0 #fff, 0px -3px 0 #fff, 0px -2px 0 #fff, 0px -1px 0 #fff, 0px 0px 0 #fff, 0px 1px 0 #fff, 0px 2px 0 #fff, 0px 3px 0 #fff, 0px 4px 0 #fff, 0px 5px 0 #fff, 0px 6px 0 #fff, 0px 7px 0 #fff, 0px 8px 0 #fff, 0px 9px 0 #fff, 0px 10px 0 #fff, 0px 11px 0 #fff, 0px 12px 0 #fff, 0px 13px 0 #fff, 0px 14px 0 #fff, 0px 15px 0 #fff, 1px -15px 0 #fff, 1px -14px 0 #fff, 1px -13px 0 #fff, 1px -12px 0 #fff, 1px -11px 0 #fff, 1px -10px 0 #fff, 1px -9px 0 #fff, 1px -8px 0 #fff, 1px -7px 0 #fff, 1px -6px 0 #fff, 1px -5px 0 #fff, 1px -4px 0 #fff, 1px -3px 0 #fff, 1px -2px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff, 1px 3px 0 #fff, 1px 4px 0 #fff, 1px 5px 0 #fff, 1px 6px 0 #fff, 1px 7px 0 #fff, 1px 8px 0 #fff, 1px 9px 0 #fff, 1px 10px 0 #fff, 1px 11px 0 #fff, 1px 12px 0 #fff, 1px 13px 0 #fff, 1px 14px 0 #fff, 1px 15px 0 #fff, 2px -15px 0 #fff, 2px -14px 0 #fff, 2px -13px 0 #fff, 2px -12px 0 #fff, 2px -11px 0 #fff, 2px -10px 0 #fff, 2px -9px 0 #fff, 2px -8px 0 #fff, 2px -7px 0 #fff, 2px -6px 0 #fff, 2px -5px 0 #fff, 2px -4px 0 #fff, 2px -3px 0 #fff, 2px -2px 0 #fff, 2px -1px 0 #fff, 2px 0px 0 #fff, 2px 1px 0 #fff, 2px 2px 0 #fff, 2px 3px 0 #fff, 2px 4px 0 #fff, 2px 5px 0 #fff, 2px 6px 0 #fff, 2px 7px 0 #fff, 2px 8px 0 #fff, 2px 9px 0 #fff, 2px 10px 0 #fff, 2px 11px 0 #fff, 2px 12px 0 #fff, 2px 13px 0 #fff, 2px 14px 0 #fff, 2px 15px 0 #fff, 3px -15px 0 #fff, 3px -14px 0 #fff, 3px -13px 0 #fff, 3px -12px 0 #fff, 3px -11px 0 #fff, 3px -10px 0 #fff, 3px -9px 0 #fff, 3px -8px 0 #fff, 3px -7px 0 #fff, 3px -6px 0 #fff, 3px -5px 0 #fff, 3px -4px 0 #fff, 3px -3px 0 #fff, 3px -2px 0 #fff, 3px -1px 0 #fff, 3px 0px 0 #fff, 3px 1px 0 #fff, 3px 2px 0 #fff, 3px 3px 0 #fff, 3px 4px 0 #fff, 3px 5px 0 #fff, 3px 6px 0 #fff, 3px 7px 0 #fff, 3px 8px 0 #fff, 3px 9px 0 #fff, 3px 10px 0 #fff, 3px 11px 0 #fff, 3px 12px 0 #fff, 3px 13px 0 #fff, 3px 14px 0 #fff, 3px 15px 0 #fff, 4px -15px 0 #fff, 4px -14px 0 #fff, 4px -13px 0 #fff, 4px -12px 0 #fff, 4px -11px 0 #fff, 4px -10px 0 #fff, 4px -9px 0 #fff, 4px -8px 0 #fff, 4px -7px 0 #fff, 4px -6px 0 #fff, 4px -5px 0 #fff, 4px -4px 0 #fff, 4px -3px 0 #fff, 4px -2px 0 #fff, 4px -1px 0 #fff, 4px 0px 0 #fff, 4px 1px 0 #fff, 4px 2px 0 #fff, 4px 3px 0 #fff, 4px 4px 0 #fff, 4px 5px 0 #fff, 4px 6px 0 #fff, 4px 7px 0 #fff, 4px 8px 0 #fff, 4px 9px 0 #fff, 4px 10px 0 #fff, 4px 11px 0 #fff, 4px 12px 0 #fff, 4px 13px 0 #fff, 4px 14px 0 #fff, 4px 15px 0 #fff, 5px -14px 0 #fff, 5px -13px 0 #fff, 5px -12px 0 #fff, 5px -11px 0 #fff, 5px -10px 0 #fff, 5px -9px 0 #fff, 5px -8px 0 #fff, 5px -7px 0 #fff, 5px -6px 0 #fff, 5px -5px 0 #fff, 5px -4px 0 #fff, 5px -3px 0 #fff, 5px -2px 0 #fff, 5px -1px 0 #fff, 5px 0px 0 #fff, 5px 1px 0 #fff, 5px 2px 0 #fff, 5px 3px 0 #fff, 5px 4px 0 #fff, 5px 5px 0 #fff, 5px 6px 0 #fff, 5px 7px 0 #fff, 5px 8px 0 #fff, 5px 9px 0 #fff, 5px 10px 0 #fff, 5px 11px 0 #fff, 5px 12px 0 #fff, 5px 13px 0 #fff, 5px 14px 0 #fff, 6px -14px 0 #fff, 6px -13px 0 #fff, 6px -12px 0 #fff, 6px -11px 0 #fff, 6px -10px 0 #fff, 6px -9px 0 #fff, 6px -8px 0 #fff, 6px -7px 0 #fff, 6px -6px 0 #fff, 6px -5px 0 #fff, 6px -4px 0 #fff, 6px -3px 0 #fff, 6px -2px 0 #fff, 6px -1px 0 #fff, 6px 0px 0 #fff, 6px 1px 0 #fff, 6px 2px 0 #fff, 6px 3px 0 #fff, 6px 4px 0 #fff, 6px 5px 0 #fff, 6px 6px 0 #fff, 6px 7px 0 #fff, 6px 8px 0 #fff, 6px 9px 0 #fff, 6px 10px 0 #fff, 6px 11px 0 #fff, 6px 12px 0 #fff, 6px 13px 0 #fff, 6px 14px 0 #fff, 7px -14px 0 #fff, 7px -13px 0 #fff, 7px -12px 0 #fff, 7px -11px 0 #fff, 7px -10px 0 #fff, 7px -9px 0 #fff, 7px -8px 0 #fff, 7px -7px 0 #fff, 7px -6px 0 #fff, 7px -5px 0 #fff, 7px -4px 0 #fff, 7px -3px 0 #fff, 7px -2px 0 #fff, 7px -1px 0 #fff, 7px 0px 0 #fff, 7px 1px 0 #fff, 7px 2px 0 #fff, 7px 3px 0 #fff, 7px 4px 0 #fff, 7px 5px 0 #fff, 7px 6px 0 #fff, 7px 7px 0 #fff, 7px 8px 0 #fff, 7px 9px 0 #fff, 7px 10px 0 #fff, 7px 11px 0 #fff, 7px 12px 0 #fff, 7px 13px 0 #fff, 7px 14px 0 #fff, 8px -13px 0 #fff, 8px -12px 0 #fff, 8px -11px 0 #fff, 8px -10px 0 #fff, 8px -9px 0 #fff, 8px -8px 0 #fff, 8px -7px 0 #fff, 8px -6px 0 #fff, 8px -5px 0 #fff, 8px -4px 0 #fff, 8px -3px 0 #fff, 8px -2px 0 #fff, 8px -1px 0 #fff, 8px 0px 0 #fff, 8px 1px 0 #fff, 8px 2px 0 #fff, 8px 3px 0 #fff, 8px 4px 0 #fff, 8px 5px 0 #fff, 8px 6px 0 #fff, 8px 7px 0 #fff, 8px 8px 0 #fff, 8px 9px 0 #fff, 8px 10px 0 #fff, 8px 11px 0 #fff, 8px 12px 0 #fff, 8px 13px 0 #fff, 9px -12px 0 #fff, 9px -11px 0 #fff, 9px -10px 0 #fff, 9px -9px 0 #fff, 9px -8px 0 #fff, 9px -7px 0 #fff, 9px -6px 0 #fff, 9px -5px 0 #fff, 9px -4px 0 #fff, 9px -3px 0 #fff, 9px -2px 0 #fff, 9px -1px 0 #fff, 9px 0px 0 #fff, 9px 1px 0 #fff, 9px 2px 0 #fff, 9px 3px 0 #fff, 9px 4px 0 #fff, 9px 5px 0 #fff, 9px 6px 0 #fff, 9px 7px 0 #fff, 9px 8px 0 #fff, 9px 9px 0 #fff, 9px 10px 0 #fff, 9px 11px 0 #fff, 9px 12px 0 #fff, 10px -12px 0 #fff, 10px -11px 0 #fff, 10px -10px 0 #fff, 10px -9px 0 #fff, 10px -8px 0 #fff, 10px -7px 0 #fff, 10px -6px 0 #fff, 10px -5px 0 #fff, 10px -4px 0 #fff, 10px -3px 0 #fff, 10px -2px 0 #fff, 10px -1px 0 #fff, 10px 0px 0 #fff, 10px 1px 0 #fff, 10px 2px 0 #fff, 10px 3px 0 #fff, 10px 4px 0 #fff, 10px 5px 0 #fff, 10px 6px 0 #fff, 10px 7px 0 #fff, 10px 8px 0 #fff, 10px 9px 0 #fff, 10px 10px 0 #fff, 10px 11px 0 #fff, 10px 12px 0 #fff, 11px -11px 0 #fff, 11px -10px 0 #fff, 11px -9px 0 #fff, 11px -8px 0 #fff, 11px -7px 0 #fff, 11px -6px 0 #fff, 11px -5px 0 #fff, 11px -4px 0 #fff, 11px -3px 0 #fff, 11px -2px 0 #fff, 11px -1px 0 #fff, 11px 0px 0 #fff, 11px 1px 0 #fff, 11px 2px 0 #fff, 11px 3px 0 #fff, 11px 4px 0 #fff, 11px 5px 0 #fff, 11px 6px 0 #fff, 11px 7px 0 #fff, 11px 8px 0 #fff, 11px 9px 0 #fff, 11px 10px 0 #fff, 11px 11px 0 #fff, 12px -10px 0 #fff, 12px -9px 0 #fff, 12px -8px 0 #fff, 12px -7px 0 #fff, 12px -6px 0 #fff, 12px -5px 0 #fff, 12px -4px 0 #fff, 12px -3px 0 #fff, 12px -2px 0 #fff, 12px -1px 0 #fff, 12px 0px 0 #fff, 12px 1px 0 #fff, 12px 2px 0 #fff, 12px 3px 0 #fff, 12px 4px 0 #fff, 12px 5px 0 #fff, 12px 6px 0 #fff, 12px 7px 0 #fff, 12px 8px 0 #fff, 12px 9px 0 #fff, 12px 10px 0 #fff, 13px -8px 0 #fff, 13px -7px 0 #fff, 13px -6px 0 #fff, 13px -5px 0 #fff, 13px -4px 0 #fff, 13px -3px 0 #fff, 13px -2px 0 #fff, 13px -1px 0 #fff, 13px 0px 0 #fff, 13px 1px 0 #fff, 13px 2px 0 #fff, 13px 3px 0 #fff, 13px 4px 0 #fff, 13px 5px 0 #fff, 13px 6px 0 #fff, 13px 7px 0 #fff, 13px 8px 0 #fff, 14px -7px 0 #fff, 14px -6px 0 #fff, 14px -5px 0 #fff, 14px -4px 0 #fff, 14px -3px 0 #fff, 14px -2px 0 #fff, 14px -1px 0 #fff, 14px 0px 0 #fff, 14px 1px 0 #fff, 14px 2px 0 #fff, 14px 3px 0 #fff, 14px 4px 0 #fff, 14px 5px 0 #fff, 14px 6px 0 #fff, 14px 7px 0 #fff, 15px -4px 0 #fff, 15px -3px 0 #fff, 15px -2px 0 #fff, 15px -1px 0 #fff, 15px 0px 0 #fff, 15px 1px 0 #fff, 15px 2px 0 #fff, 15px 3px 0 #fff, 15px 4px 0 #fff;
    opacity: .1;
}
