body {
  width:100vw;
  height:100vh;
}


#webapp::-webkit-scrollbar { display: none; }

#webapp {
  font-family: 'Roboto', helvetica, sans-serif;
  position: relative; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

input:focus, button:focus {outline:transparent;}



/*slider*/

#slider
  {
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
  }

.slides
  {
  height:100vh;  
  }

.bx-wrapper {
  margin-bottom:0;
  box-shadow: 0;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  border: 0;
}

/* SWITCH OFF */

.switchdark {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
  position:absolute;
  display: hidden;
  z-index: 1; /* Stay below all other assets */
}

/* PANELS TO KEEP z-indexing EASIER */

#toppanel {
  position: relative;
  top:0;
  left:0;
  z-index:12345;
}

#bottompanel{
  position:absolute;
  bottom:0;
  width:100%;
  z-index: 12345;
}

/* DOTS */

#credit 
  { 
  margin:auto; 
  color:#bbbbbb; 
  padding-top: 25px;
  }

.choose-bg { text-align: center; }


.bx-wrapper .bx-pager.bx-default-pager {
  bottom: auto;
  top: 30px;
  z-index: 200
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width:14px;
  height:14px;
  border-radius:7px;
  margin: 5px 10px;
  background: transparent;
  border: 1px solid #bbb;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #bbb;
}






/* TOP BUTTON */


.button {
  position: absolute; 
  width: 50px;
  height: 50px;
  font-size: 2em;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  border-radius: 50%;
  border: 0;
  color: white;
  cursor: pointer;
}

.btnSwitch { top: 25px; left: 25px; }
.btnFAQ { top: 25px; right: 25px; }
.btnShare { top: 85px; right: 25px; font-size: 1.7em;}
.btnMail { top: 145px; right: 25px; font-size: 1.5em;}

.button:active, .button:hover {
  background-color: rgba(255,0,104,0.5);
}




/* HIDDEN BUTTONS */


.hiddenbutton {
  position:absolute;
  top:69px; /* ??? */
  right: 86px;
  display:none;
  width: 240px;
  height:200px;
  /* CANNOT USE OVERFLOW FOR FIXED ELEMENTS. */
  clip: rect(auto, auto, auto, auto);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hiddenbutton ul li {
  display:inline;
  margin: 30px;
}

.hiddenbutton li:last-child {
  margin-right: 10px;
}

.hiddenbutton li button {

}



/* NAVIGATION */


ul.bottomnav {
 position: absolute;
 left: 25px;
 bottom: 25px;
 -webkit-padding-start: 0px;
}

ul.bottomnav li {
  display: inline;
  margin: 10px;
}

ul.bottomnav li:first-child {
  margin-left: 0;

}

ul.cta {
  position:absolute;
  right: 25px;
  bottom: 25px;
}

ul.cta li {
  display: inline;
  margin: 10px;
}

ul.cta li:last-child {
  margin-right: 0;
}

.menu {
    width: 160px;
    text-align: center;
    background-color: #E7E7E7; /* Grey */
    border: none;
    border-bottom: 5px solid transparent;
    padding: 15px 20px;
    padding-bottom: 10px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
}

.menuGetQuote, .menuCheckout {
  border-radius: 15px;
  background-color: #4a00a3;
  color: white; 
  font-weight: 700;
}

.menuGetQuote:active, .menuGetQuote:hover, .menuCheckout:active, .menuCheckout:hover {
  background-color:#ff0068;
}



/* MODAL */

.modal {
  position: absolute;
  top: 30%;
  overflow: hidden;
  padding: 30px;
  background-color: #ffffff;
  font-size: 1em;
  font-color: #111;
  z-index: 123456;
  display:none;
}

.modal h1 {
  font-size: 1.3em;
  margin-top:0;
  margin-bottom: 20px;
  color:#4a00a3;
}

#email {
  width: 600px;
}

.modal input {
  margin-left: 10px;
  font-size:1em;
  padding: 5px;
}

#modalname {
  width: 150px;
  margin-right: 50px;
}

#modalemail {
  width: 250px;
}

#subscribe {
  margin-top: 20px;
}

.modalbutton {
  width: 100px;
  padding: 5px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #4a00a3;
  color: white; 
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  float:right;
  display: inline-block;
  
}



/* BOTTOM TAB */


/* Style the tab */
/*div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}*/

/* Style the buttons inside the tab */
/*div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}*/

/* Change background color of buttons on hover */
/*div.tab button:hover {
    background-color: #e7e7e7;
}*/

/* Create an active/current tablink class */
.menu.active {
    border-bottom: 5px solid #fc0065;
}

/* Style the tab content */
.tabcontent {
    position: absolute;
    top: -300px;
    left:25px;
    height: 180px;
    display: none;
    padding: 6px 12px;
    background-color: #ffffff;
    color: #212121;
    overflow: scroll;
}


.btnContentClose, .btnContentModalFAQ {
  padding: 8px 10px 8px 10px;
  background-color: #4a00a3;
  color: white;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 12px;
}

.btnContentModalFAQ {
  right: 50px;
  padding-left: 12px;
  padding-right: 12px;
}

.contentHeader { color: #4a00a3; }

.tabsection {
  position:absolute; 
  top:12px;
  max-height:160px;
  overflow:hidden;
  padding:12px;
}

.tabsection h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.infoText {
  width: 340px;
}

.infoText p {
  line-height: 1.2em;
}

.availFonts, 
.availColors, 
.indoorOutdoor, 
.availInstall, 
.basicInfo {
  left:360px;
}

.availBackdrop { left: 670px; padding-top: 50px;}

.availFonts, { width: 720px; }
.availColors, .availInstall { width: 1000px; }
.indoorOutdoor { width: 320px; }

.comment { left: 720px; }


.sizeAlign {
  width: 150px;

  top: 55px;
  left: 1075px;
}


.fontSize, .fontAlign {
  height: 40px;
  width: 200px;
  margin-left: 10px;
  padding-bottom: 0;
  vertical-align: middle;
}

/*.fontAlign {
  position: relative;
  top: 40px;
  left: 1050px;
}*/

.tabcontent label {
  float: left;
  margin: 3px;
  padding:0;
  text-align: center;
  border: solid 2px #ccc;
}

.tabcontent .availFonts label img {
  width: 170px;
  height: 40px;
  padding:0;
  vertical-align: middle;
}

.tabcontent .fontSize label img {
  width: 30px;
  height: 30px;
  padding:0;
  vertical-align: middle;
}

.tabcontent .fontAlign label i {
  width: 30px;
  height: 30px;
  padding:0;
  vertical-align: middle;
  line-height: 30px;
  background-color: #ccc;
}

.tabcontent .coolWarm label img {
  width: 40px;
  height: 40px;
  padding:0;
  vertical-align: middle;
}

.tabcontent #S, 
.tabcontent #M, 
.tabcontent #L {
  width: 40px;
}

input[type="radio"] { display: none; }

input[type="radio"]:checked+label:not(.displayRadio) {
  outline: solid 2px #fc0065;
}

.displayRadio, 
.qtyShipping label,
.basicInfo label,
.comment label
 {
  text-align: left !important;
  border: none !important;
}

.qtyShipping label,
.basicInfo label
.comment label {
  line-height: 1.2em;
}


/*
todo: for font size and text align, change it so that it doesn't show a pink border when selected, but changes the background to #9a9a9a

.fontSize input[type="radio"]:checked+label,
.fontAlign input[type="radio"]:checked+label i {
  outline: solid 2px #9a9a9a;
  background-color: #9a9a9a;
}*/

.colorHeader, .colorSummary { color: #8a8a8a; }
.colorHeader { margin-bottom: 0; }
.colorSummary {
  margin-top: 0;
  font-size: 0.8em;
}

.availColors h4, .indoorOutdoor h4,
.availInstall h4 { margin-bottom: 0; }

.colorType { 
  width: 200px; 
  height: 170px;

  display: inline-block;
}

.pure, .solid {
  width: 300px;
  margin-left: 15px;
}

.indoorOutdoor input[type="radio"],
.availInstall input[type="radio"] {
  display: inherit;
  float: left;
  margin-top: 23px;
  margin-right: 10px;
}

label.displayRadio {
  margin-right: 50px;
}

label.nailType {
  width: 280px;
}

#qty, #name, #basicEmail, #baiscZipcode, #comment {
  margin-left: 20px;
}

.qtyLabel {
  width: 30px;
  margin-bottom: 10px;
  line-height: 0.1em !important;
}

.basicInfo {
  width: 360px;
}

.ifield {
  margin-bottom: 20px;
}
