body::-webkit-scrollbar { display: none; }

#slide-window
  {
  position:fixed;
  width:100%;
  height:100%;
  overflow:hidden;
  top:0px;
  left:0px;
  }

#slides
  {
  height:100%;  
  position:absolute;
  margin:0px;
  padding:0px;
  
  -webkit-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
    
  transition: all 0.66s ease; -webkit-transition: all 0.66s ease; 
  
  }

.slide 
  {
  list-style:none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px; 
  background-size: cover; 
  background-position:50% 50%;
  color:#fff;
  -webkit-transform: translate3d(0px,0px,0px);
  visibility:hidden;
  -webkit-transform-style: preserve-3d;
  }

.alive { visibility:visible; }

.nav 
  { 
  position:fixed; 
  z-index:9; 
  top:50%; 
  cursor:pointer; 
  color:#fff; 
  opacity:0.7; 
  transition: all 0.66s ease; -webkit-transition: all 0.66s ease; 
  }

.nav:hover { opacity:1.0; }
#left { left:3%; }
#right { right:3%; }

#credit 
  { 
  position:fixed; 
  top:25px; 
  left:42%; 
  color:#eaeaea; 
  font-family: helvetica, arial, sans-serif;
  line-height: 25px;
  }

.choose-bg { text-align: center; }

#menu
  { 
  position:fixed; 
  top:660px; 
  width: 150px;
  font-family: helvetica, arial, sans-serif;  
  text-align: center;
  }

.button {
    background-color: #E7E7E7; /* Grey */
    border: none;
    padding: 15px 30px;
    text-align: center;
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.menuText { left:25px; }
.menuColor { left:200px; }
.menuShape { left:375px; }
.menuInstallation { left:550px; }
.menuQtyShipping { left:725px; }

.menuGetQuote, .menuCheckout {
  width: 150px;
  border-radius: 25px;
  background-color: #4a00a3;
  color: white; 
}
.menuGetQuote { left: 925px; }
.menuCheckout { left: 1100px; }

.topButton {
  position: fixed; 
  font-size: 2em;
  background-color: #212121;
  padding: 10px 15px 10px 15px;
  border-radius: 50%;
  color: white;
}

.btnSwitch { top: 25px; left: 25px; }
.btnFAQ { top: 25px; left: 1200px; }
.btnShare { top: 100px; left: 1200px; 
  font-size: 1.7em; padding: 10px;}
.btnMail { top: 175px; left: 1200px;
  font-size: 1.5em; padding: 10px;}


/* Dotstyle */
.dotstyle ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 0 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.3);
  text-indent: -999em;
  cursor: pointer; /* make the text accessible to screen readers */
  position: absolute;
}

/* fill up */
.dotstyle-fillup li a {
  overflow: hidden;
  background-color: rgba(0,0,0,0);
  box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
  transition: background 0.3s;
}

.dotstyle-fillup li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px #fff;
  transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
  background-color: rgba(0,0,0,0.2);
}

