@charset "UTF-8";


/* TextArea Default */

textarea:focus {
	outline:transparent;
}

.clientTextBase {
	position:absolute;
	z-index:11111;
	width:auto;
	height: auto;
	padding:20px;
	resize:none;
	border:transparent;
	background: transparent;
	color: #ccc;
	font-size:2.8em;
	vertical-align: middle;
	text-align: center;
}

.backdrop {
	position:absolute;
	z-index:10000;
	width:auto;
	height:auto;
	padding: 20px;
	color: rgba(255,255,255,0.35);
	vertical-align: middle;
	text-align: center;
	opacity:0;
}


/* font */

.size-small {
	font-size: 2.8em;
}

.size-medium {
	font-size: 3.5em;
}

.size-large {
	font-size:4.2em;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.fontA {
	font-family: helvetica;
}

.fontB {
	font-family: arial;
}

.fontC {
	font-family: times;
}

.fontD {
	font-family: courier;
}

.fontE {
	font-family: 'Comic Sans';
}

.fontF {
	font-family: 'roboto';
}

.fontG {
	font-family: verdana;
}

.fontH {
	font-family: georgia;
}


/* color */

.cw {
color: #F3F6FF;
-webkit-text-stroke: 1px #FFF;
text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 20px #bdccd4, 0 0 30px #bdccd4, 0 0 40px #bdccd4, 0 0 55px #bdccd4, 0 0 75px #bdccd4;
}


.cr {
color: #fe3721;
-webkit-text-stroke: 1px #FE4444;
text-shadow: 0 0 5px #FF6674, 0 0 5px #FF6674, 0 0 5px #FF6A62, 0 0 30px #FF6A62, 0 0 45px #FF6A62, 0 0 65px #FF6A62;
}

.co {
color: #FE9744;
-webkit-text-stroke: 1px #FEAC44;
text-shadow: 0 0 2px #FFCA8E, 0 0 2px #FFCA8E, 0 0 10px #FFBE5D, 0 0 30px #FFBE5D, 0 0 45px #FFBE5D, 0 0 65px #FFBE5D;
}

.cy {
color: #FFF13D;
-webkit-text-stroke: 1px #FFff5D;
text-shadow: 0 0 5px #FFEAA7, 0 0 5px #FFEAA7, 0 0 10px #FFE967, 0 0 30px #FFE967, 0 0 45px #FFE967, 0 0 65px #FFE967;
}

.cg{
color: #21FF6F;
-webkit-text-stroke: 1px #71FF89;
text-shadow: 0 0 5px #aaFF88, 0 0 5px #aaFF88, 0 0 10px #98FF7E, 0 0 30px #98FF7E, 0 0 45px #98FF7E, 0 0 65px #98FF7E;
}

.cb {
color: #26AEFF;
-webkit-text-stroke: 1px #88b4FF;
text-shadow: 0 0 5px #95d4FF, 0 0 5px #8185FF, 0 0 10px #0196FF, 0 0 30px #0196FF, 0 0 45px #4BBDFF, 0 0 65px #73CFFF;
}

.cp {
color: #FF2D97;
-webkit-text-stroke: 1px #FF57BE;
text-shadow: 0 0 5px #FF84F0, 0 0 5px #FF84F0, 0 0 10px #FF57BE, 0 0 30px #FF57BE, 0 0 45px #FF57BE, 0 0 65px #FF57BE;
}

.cly {
color: #FFFF65;
-webkit-text-stroke: 1px #FFFFae;
text-shadow: 0 0 5px #FFF781, 0 0 5px #FFF781, 0 0 10px #FFF389, 0 0 30px #FFF389, 0 0 45px #FFF389, 0 0 65px #FFF389;
}


.ww {
color: #FFFEFF;
-webkit-text-stroke: 2px #FFFDD6;
text-shadow: 0 0 5px #E3D6B9, 0 0 5px #E3D6B9, 0 0 10px #FFEFB9, 0 0 30px #FFEFB9, 0 0 55px #FFEFB9, 0 0 75px #FFEFB9;
}

.wr {
color: #FF8881;
-webkit-text-stroke: 1px #FF5257;
text-shadow: 0 0 5px #FF8774, 0 0 5px #FF8774, 0 0 10px #FF5257, 0 0 30px #FF5257, 0 0 45px #FF5257, 0 0 65px #FF5257;
}

.wo {
color: #FFA15D;
-webkit-text-stroke: 1px #FF5F42;
text-shadow: 0 0 5px #FF5F42, 0 0 5px #FF5F42, 0 0 10px #FFBD72, 0 0 30px #FFBD72, 0 0 45px #FF5F42, 0 0 65px #FF5F42;
}

.wg {
color: #BEFFCA;
-webkit-text-stroke: 1px #2BFF98;
text-shadow: 0 0 5px #4CFFA6, 0 0 5px #4CFFA6, 0 0 10px #74FFC4, 0 0 30px #74FFC4, 0 0 45px #74FFC4, 0 0 65px #74FFC4;
}

.wb {
color: #88ddFF;
-webkit-text-stroke: 1px #11ccFF;
text-shadow: 0 0 5px #01aaFF, 0 0 5px #01aaFF, 0 0 10px #11ccFF, 0 0 30px #11ccFF, 0 0 45px #11ccFF, 0 0 65px #11ccFF;
}

.wp {
color: #FF9AFF;
-webkit-text-stroke: 1px #FF57FF;
text-shadow: 0 0 5px #FF75FF, 0 0 5px #FF75FF, 0 0 10px #FF97FF, 0 0 30px #FF97FF, 0 0 45px #FF97FF, 0 0 65px #FF97FF;
}



/* off */

.woff {
color: #dddddd;
-webkit-text-stroke: 1px #C9c9c9;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 5px 10px 10px rgba(0, 0, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3); 
}



.croff {
color: #DC2728;
-webkit-text-stroke: 1px #a42728;
text-shadow: 2px 2px 5px rgba(50, 0, 0, 0.5), 5px 10px 10px rgba(30, 0, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cooff {
color: #FF8C26;
-webkit-text-stroke: 1px #F17A17;
text-shadow: 2px 2px 5px rgba(50, 20, 0, 0.5), 5px 10px 10px rgba(30, 10, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cyoff {
color: #FFC425;
-webkit-text-stroke: 1px #F2BB19;
text-shadow: 2px 2px 5px rgba(50, 20, 0, 0.5), 5px 10px 10px rgba(30, 10, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.clyoff {
color: #FFEF5E;
-webkit-text-stroke: 1px #F0DD4D;
text-shadow: 2px 2px 5px rgba(50, 50, 0, 0.5), 5px 10px 10px rgba(30, 30, 0, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cgoff{
color: #1FC06A;
-webkit-text-stroke: 1px #1CAF65;
text-shadow: 2px 2px 5px rgba(10, 50, 20, 0.5), 5px 10px 10px rgba(5, 30, 10, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cboff {
color: #4A99EE;
-webkit-text-stroke: 1px #3D87D5;
text-shadow: 2px 2px 5px rgba(10, 20, 50, 0.5), 5px 10px 10px rgba(5, 10, 30, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}

.cpoff {
color: #BE44aC;
-webkit-text-stroke: 1px #AC3078;
text-shadow: 2px 2px 5px rgba(50, 10, 40, 0.5), 5px 10px 10px rgba(30, 5, 20, 0.5), 5px 15px 30px rgba(0, 0, 0, 0.3);
}


/*shape*/

.backdropCircle{
overflow:hidden;
background: #fff;
opacity: .25;
padding: 50px;
border-radius: 50%;
}

.backdropSquare{
overflow:hidden;
background: #fff;
opacity: .25;
margin-top: -90px;
}

.backdropRectangle{
overflow:hidden;
background: #fff;
opacity: .25;
}

.metal{
background: #222;
color:#222;
opacity: 1;
}


.backdropOutline {
text-shadow: -15px -4px 0 #fff, -15px -3px 0 #fff, -15px -2px 0 #fff, -15px -1px 0 #fff, -15px 0px 0 #fff, -15px 1px 0 #fff, -15px 2px 0 #fff, -15px 3px 0 #fff, -15px 4px 0 #fff, -14px -7px 0 #fff, -14px -6px 0 #fff, -14px -5px 0 #fff, -14px -4px 0 #fff, -14px -3px 0 #fff, -14px -2px 0 #fff, -14px -1px 0 #fff, -14px 0px 0 #fff, -14px 1px 0 #fff, -14px 2px 0 #fff, -14px 3px 0 #fff, -14px 4px 0 #fff, -14px 5px 0 #fff, -14px 6px 0 #fff, -14px 7px 0 #fff, -13px -8px 0 #fff, -13px -7px 0 #fff, -13px -6px 0 #fff, -13px -5px 0 #fff, -13px -4px 0 #fff, -13px -3px 0 #fff, -13px -2px 0 #fff, -13px -1px 0 #fff, -13px 0px 0 #fff, -13px 1px 0 #fff, -13px 2px 0 #fff, -13px 3px 0 #fff, -13px 4px 0 #fff, -13px 5px 0 #fff, -13px 6px 0 #fff, -13px 7px 0 #fff, -13px 8px 0 #fff, -12px -10px 0 #fff, -12px -9px 0 #fff, -12px -8px 0 #fff, -12px -7px 0 #fff, -12px -6px 0 #fff, -12px -5px 0 #fff, -12px -4px 0 #fff, -12px -3px 0 #fff, -12px -2px 0 #fff, -12px -1px 0 #fff, -12px 0px 0 #fff, -12px 1px 0 #fff, -12px 2px 0 #fff, -12px 3px 0 #fff, -12px 4px 0 #fff, -12px 5px 0 #fff, -12px 6px 0 #fff, -12px 7px 0 #fff, -12px 8px 0 #fff, -12px 9px 0 #fff, -12px 10px 0 #fff, -11px -11px 0 #fff, -11px -10px 0 #fff, -11px -9px 0 #fff, -11px -8px 0 #fff, -11px -7px 0 #fff, -11px -6px 0 #fff, -11px -5px 0 #fff, -11px -4px 0 #fff, -11px -3px 0 #fff, -11px -2px 0 #fff, -11px -1px 0 #fff, -11px 0px 0 #fff, -11px 1px 0 #fff, -11px 2px 0 #fff, -11px 3px 0 #fff, -11px 4px 0 #fff, -11px 5px 0 #fff, -11px 6px 0 #fff, -11px 7px 0 #fff, -11px 8px 0 #fff, -11px 9px 0 #fff, -11px 10px 0 #fff, -11px 11px 0 #fff, -10px -12px 0 #fff, -10px -11px 0 #fff, -10px -10px 0 #fff, -10px -9px 0 #fff, -10px -8px 0 #fff, -10px -7px 0 #fff, -10px -6px 0 #fff, -10px -5px 0 #fff, -10px -4px 0 #fff, -10px -3px 0 #fff, -10px -2px 0 #fff, -10px -1px 0 #fff, -10px 0px 0 #fff, -10px 1px 0 #fff, -10px 2px 0 #fff, -10px 3px 0 #fff, -10px 4px 0 #fff, -10px 5px 0 #fff, -10px 6px 0 #fff, -10px 7px 0 #fff, -10px 8px 0 #fff, -10px 9px 0 #fff, -10px 10px 0 #fff, -10px 11px 0 #fff, -10px 12px 0 #fff, -9px -12px 0 #fff, -9px -11px 0 #fff, -9px -10px 0 #fff, -9px -9px 0 #fff, -9px -8px 0 #fff, -9px -7px 0 #fff, -9px -6px 0 #fff, -9px -5px 0 #fff, -9px -4px 0 #fff, -9px -3px 0 #fff, -9px -2px 0 #fff, -9px -1px 0 #fff, -9px 0px 0 #fff, -9px 1px 0 #fff, -9px 2px 0 #fff, -9px 3px 0 #fff, -9px 4px 0 #fff, -9px 5px 0 #fff, -9px 6px 0 #fff, -9px 7px 0 #fff, -9px 8px 0 #fff, -9px 9px 0 #fff, -9px 10px 0 #fff, -9px 11px 0 #fff, -9px 12px 0 #fff, -8px -13px 0 #fff, -8px -12px 0 #fff, -8px -11px 0 #fff, -8px -10px 0 #fff, -8px -9px 0 #fff, -8px -8px 0 #fff, -8px -7px 0 #fff, -8px -6px 0 #fff, -8px -5px 0 #fff, -8px -4px 0 #fff, -8px -3px 0 #fff, -8px -2px 0 #fff, -8px -1px 0 #fff, -8px 0px 0 #fff, -8px 1px 0 #fff, -8px 2px 0 #fff, -8px 3px 0 #fff, -8px 4px 0 #fff, -8px 5px 0 #fff, -8px 6px 0 #fff, -8px 7px 0 #fff, -8px 8px 0 #fff, -8px 9px 0 #fff, -8px 10px 0 #fff, -8px 11px 0 #fff, -8px 12px 0 #fff, -8px 13px 0 #fff, -7px -14px 0 #fff, -7px -13px 0 #fff, -7px -12px 0 #fff, -7px -11px 0 #fff, -7px -10px 0 #fff, -7px -9px 0 #fff, -7px -8px 0 #fff, -7px -7px 0 #fff, -7px -6px 0 #fff, -7px -5px 0 #fff, -7px -4px 0 #fff, -7px -3px 0 #fff, -7px -2px 0 #fff, -7px -1px 0 #fff, -7px 0px 0 #fff, -7px 1px 0 #fff, -7px 2px 0 #fff, -7px 3px 0 #fff, -7px 4px 0 #fff, -7px 5px 0 #fff, -7px 6px 0 #fff, -7px 7px 0 #fff, -7px 8px 0 #fff, -7px 9px 0 #fff, -7px 10px 0 #fff, -7px 11px 0 #fff, -7px 12px 0 #fff, -7px 13px 0 #fff, -7px 14px 0 #fff, -6px -14px 0 #fff, -6px -13px 0 #fff, -6px -12px 0 #fff, -6px -11px 0 #fff, -6px -10px 0 #fff, -6px -9px 0 #fff, -6px -8px 0 #fff, -6px -7px 0 #fff, -6px -6px 0 #fff, -6px -5px 0 #fff, -6px -4px 0 #fff, -6px -3px 0 #fff, -6px -2px 0 #fff, -6px -1px 0 #fff, -6px 0px 0 #fff, -6px 1px 0 #fff, -6px 2px 0 #fff, -6px 3px 0 #fff, -6px 4px 0 #fff, -6px 5px 0 #fff, -6px 6px 0 #fff, -6px 7px 0 #fff, -6px 8px 0 #fff, -6px 9px 0 #fff, -6px 10px 0 #fff, -6px 11px 0 #fff, -6px 12px 0 #fff, -6px 13px 0 #fff, -6px 14px 0 #fff, -5px -14px 0 #fff, -5px -13px 0 #fff, -5px -12px 0 #fff, -5px -11px 0 #fff, -5px -10px 0 #fff, -5px -9px 0 #fff, -5px -8px 0 #fff, -5px -7px 0 #fff, -5px -6px 0 #fff, -5px -5px 0 #fff, -5px -4px 0 #fff, -5px -3px 0 #fff, -5px -2px 0 #fff, -5px -1px 0 #fff, -5px 0px 0 #fff, -5px 1px 0 #fff, -5px 2px 0 #fff, -5px 3px 0 #fff, -5px 4px 0 #fff, -5px 5px 0 #fff, -5px 6px 0 #fff, -5px 7px 0 #fff, -5px 8px 0 #fff, -5px 9px 0 #fff, -5px 10px 0 #fff, -5px 11px 0 #fff, -5px 12px 0 #fff, -5px 13px 0 #fff, -5px 14px 0 #fff, -4px -15px 0 #fff, -4px -14px 0 #fff, -4px -13px 0 #fff, -4px -12px 0 #fff, -4px -11px 0 #fff, -4px -10px 0 #fff, -4px -9px 0 #fff, -4px -8px 0 #fff, -4px -7px 0 #fff, -4px -6px 0 #fff, -4px -5px 0 #fff, -4px -4px 0 #fff, -4px -3px 0 #fff, -4px -2px 0 #fff, -4px -1px 0 #fff, -4px 0px 0 #fff, -4px 1px 0 #fff, -4px 2px 0 #fff, -4px 3px 0 #fff, -4px 4px 0 #fff, -4px 5px 0 #fff, -4px 6px 0 #fff, -4px 7px 0 #fff, -4px 8px 0 #fff, -4px 9px 0 #fff, -4px 10px 0 #fff, -4px 11px 0 #fff, -4px 12px 0 #fff, -4px 13px 0 #fff, -4px 14px 0 #fff, -4px 15px 0 #fff, -3px -15px 0 #fff, -3px -14px 0 #fff, -3px -13px 0 #fff, -3px -12px 0 #fff, -3px -11px 0 #fff, -3px -10px 0 #fff, -3px -9px 0 #fff, -3px -8px 0 #fff, -3px -7px 0 #fff, -3px -6px 0 #fff, -3px -5px 0 #fff, -3px -4px 0 #fff, -3px -3px 0 #fff, -3px -2px 0 #fff, -3px -1px 0 #fff, -3px 0px 0 #fff, -3px 1px 0 #fff, -3px 2px 0 #fff, -3px 3px 0 #fff, -3px 4px 0 #fff, -3px 5px 0 #fff, -3px 6px 0 #fff, -3px 7px 0 #fff, -3px 8px 0 #fff, -3px 9px 0 #fff, -3px 10px 0 #fff, -3px 11px 0 #fff, -3px 12px 0 #fff, -3px 13px 0 #fff, -3px 14px 0 #fff, -3px 15px 0 #fff, -2px -15px 0 #fff, -2px -14px 0 #fff, -2px -13px 0 #fff, -2px -12px 0 #fff, -2px -11px 0 #fff, -2px -10px 0 #fff, -2px -9px 0 #fff, -2px -8px 0 #fff, -2px -7px 0 #fff, -2px -6px 0 #fff, -2px -5px 0 #fff, -2px -4px 0 #fff, -2px -3px 0 #fff, -2px -2px 0 #fff, -2px -1px 0 #fff, -2px 0px 0 #fff, -2px 1px 0 #fff, -2px 2px 0 #fff, -2px 3px 0 #fff, -2px 4px 0 #fff, -2px 5px 0 #fff, -2px 6px 0 #fff, -2px 7px 0 #fff, -2px 8px 0 #fff, -2px 9px 0 #fff, -2px 10px 0 #fff, -2px 11px 0 #fff, -2px 12px 0 #fff, -2px 13px 0 #fff, -2px 14px 0 #fff, -2px 15px 0 #fff, -1px -15px 0 #fff, -1px -14px 0 #fff, -1px -13px 0 #fff, -1px -12px 0 #fff, -1px -11px 0 #fff, -1px -10px 0 #fff, -1px -9px 0 #fff, -1px -8px 0 #fff, -1px -7px 0 #fff, -1px -6px 0 #fff, -1px -5px 0 #fff, -1px -4px 0 #fff, -1px -3px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff, -1px 0px 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, -1px 3px 0 #fff, -1px 4px 0 #fff, -1px 5px 0 #fff, -1px 6px 0 #fff, -1px 7px 0 #fff, -1px 8px 0 #fff, -1px 9px 0 #fff, -1px 10px 0 #fff, -1px 11px 0 #fff, -1px 12px 0 #fff, -1px 13px 0 #fff, -1px 14px 0 #fff, -1px 15px 0 #fff, 0px -15px 0 #fff, 0px -14px 0 #fff, 0px -13px 0 #fff, 0px -12px 0 #fff, 0px -11px 0 #fff, 0px -10px 0 #fff, 0px -9px 0 #fff, 0px -8px 0 #fff, 0px -7px 0 #fff, 0px -6px 0 #fff, 0px -5px 0 #fff, 0px -4px 0 #fff, 0px -3px 0 #fff, 0px -2px 0 #fff, 0px -1px 0 #fff, 0px 0px 0 #fff, 0px 1px 0 #fff, 0px 2px 0 #fff, 0px 3px 0 #fff, 0px 4px 0 #fff, 0px 5px 0 #fff, 0px 6px 0 #fff, 0px 7px 0 #fff, 0px 8px 0 #fff, 0px 9px 0 #fff, 0px 10px 0 #fff, 0px 11px 0 #fff, 0px 12px 0 #fff, 0px 13px 0 #fff, 0px 14px 0 #fff, 0px 15px 0 #fff, 1px -15px 0 #fff, 1px -14px 0 #fff, 1px -13px 0 #fff, 1px -12px 0 #fff, 1px -11px 0 #fff, 1px -10px 0 #fff, 1px -9px 0 #fff, 1px -8px 0 #fff, 1px -7px 0 #fff, 1px -6px 0 #fff, 1px -5px 0 #fff, 1px -4px 0 #fff, 1px -3px 0 #fff, 1px -2px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff, 1px 3px 0 #fff, 1px 4px 0 #fff, 1px 5px 0 #fff, 1px 6px 0 #fff, 1px 7px 0 #fff, 1px 8px 0 #fff, 1px 9px 0 #fff, 1px 10px 0 #fff, 1px 11px 0 #fff, 1px 12px 0 #fff, 1px 13px 0 #fff, 1px 14px 0 #fff, 1px 15px 0 #fff, 2px -15px 0 #fff, 2px -14px 0 #fff, 2px -13px 0 #fff, 2px -12px 0 #fff, 2px -11px 0 #fff, 2px -10px 0 #fff, 2px -9px 0 #fff, 2px -8px 0 #fff, 2px -7px 0 #fff, 2px -6px 0 #fff, 2px -5px 0 #fff, 2px -4px 0 #fff, 2px -3px 0 #fff, 2px -2px 0 #fff, 2px -1px 0 #fff, 2px 0px 0 #fff, 2px 1px 0 #fff, 2px 2px 0 #fff, 2px 3px 0 #fff, 2px 4px 0 #fff, 2px 5px 0 #fff, 2px 6px 0 #fff, 2px 7px 0 #fff, 2px 8px 0 #fff, 2px 9px 0 #fff, 2px 10px 0 #fff, 2px 11px 0 #fff, 2px 12px 0 #fff, 2px 13px 0 #fff, 2px 14px 0 #fff, 2px 15px 0 #fff, 3px -15px 0 #fff, 3px -14px 0 #fff, 3px -13px 0 #fff, 3px -12px 0 #fff, 3px -11px 0 #fff, 3px -10px 0 #fff, 3px -9px 0 #fff, 3px -8px 0 #fff, 3px -7px 0 #fff, 3px -6px 0 #fff, 3px -5px 0 #fff, 3px -4px 0 #fff, 3px -3px 0 #fff, 3px -2px 0 #fff, 3px -1px 0 #fff, 3px 0px 0 #fff, 3px 1px 0 #fff, 3px 2px 0 #fff, 3px 3px 0 #fff, 3px 4px 0 #fff, 3px 5px 0 #fff, 3px 6px 0 #fff, 3px 7px 0 #fff, 3px 8px 0 #fff, 3px 9px 0 #fff, 3px 10px 0 #fff, 3px 11px 0 #fff, 3px 12px 0 #fff, 3px 13px 0 #fff, 3px 14px 0 #fff, 3px 15px 0 #fff, 4px -15px 0 #fff, 4px -14px 0 #fff, 4px -13px 0 #fff, 4px -12px 0 #fff, 4px -11px 0 #fff, 4px -10px 0 #fff, 4px -9px 0 #fff, 4px -8px 0 #fff, 4px -7px 0 #fff, 4px -6px 0 #fff, 4px -5px 0 #fff, 4px -4px 0 #fff, 4px -3px 0 #fff, 4px -2px 0 #fff, 4px -1px 0 #fff, 4px 0px 0 #fff, 4px 1px 0 #fff, 4px 2px 0 #fff, 4px 3px 0 #fff, 4px 4px 0 #fff, 4px 5px 0 #fff, 4px 6px 0 #fff, 4px 7px 0 #fff, 4px 8px 0 #fff, 4px 9px 0 #fff, 4px 10px 0 #fff, 4px 11px 0 #fff, 4px 12px 0 #fff, 4px 13px 0 #fff, 4px 14px 0 #fff, 4px 15px 0 #fff, 5px -14px 0 #fff, 5px -13px 0 #fff, 5px -12px 0 #fff, 5px -11px 0 #fff, 5px -10px 0 #fff, 5px -9px 0 #fff, 5px -8px 0 #fff, 5px -7px 0 #fff, 5px -6px 0 #fff, 5px -5px 0 #fff, 5px -4px 0 #fff, 5px -3px 0 #fff, 5px -2px 0 #fff, 5px -1px 0 #fff, 5px 0px 0 #fff, 5px 1px 0 #fff, 5px 2px 0 #fff, 5px 3px 0 #fff, 5px 4px 0 #fff, 5px 5px 0 #fff, 5px 6px 0 #fff, 5px 7px 0 #fff, 5px 8px 0 #fff, 5px 9px 0 #fff, 5px 10px 0 #fff, 5px 11px 0 #fff, 5px 12px 0 #fff, 5px 13px 0 #fff, 5px 14px 0 #fff, 6px -14px 0 #fff, 6px -13px 0 #fff, 6px -12px 0 #fff, 6px -11px 0 #fff, 6px -10px 0 #fff, 6px -9px 0 #fff, 6px -8px 0 #fff, 6px -7px 0 #fff, 6px -6px 0 #fff, 6px -5px 0 #fff, 6px -4px 0 #fff, 6px -3px 0 #fff, 6px -2px 0 #fff, 6px -1px 0 #fff, 6px 0px 0 #fff, 6px 1px 0 #fff, 6px 2px 0 #fff, 6px 3px 0 #fff, 6px 4px 0 #fff, 6px 5px 0 #fff, 6px 6px 0 #fff, 6px 7px 0 #fff, 6px 8px 0 #fff, 6px 9px 0 #fff, 6px 10px 0 #fff, 6px 11px 0 #fff, 6px 12px 0 #fff, 6px 13px 0 #fff, 6px 14px 0 #fff, 7px -14px 0 #fff, 7px -13px 0 #fff, 7px -12px 0 #fff, 7px -11px 0 #fff, 7px -10px 0 #fff, 7px -9px 0 #fff, 7px -8px 0 #fff, 7px -7px 0 #fff, 7px -6px 0 #fff, 7px -5px 0 #fff, 7px -4px 0 #fff, 7px -3px 0 #fff, 7px -2px 0 #fff, 7px -1px 0 #fff, 7px 0px 0 #fff, 7px 1px 0 #fff, 7px 2px 0 #fff, 7px 3px 0 #fff, 7px 4px 0 #fff, 7px 5px 0 #fff, 7px 6px 0 #fff, 7px 7px 0 #fff, 7px 8px 0 #fff, 7px 9px 0 #fff, 7px 10px 0 #fff, 7px 11px 0 #fff, 7px 12px 0 #fff, 7px 13px 0 #fff, 7px 14px 0 #fff, 8px -13px 0 #fff, 8px -12px 0 #fff, 8px -11px 0 #fff, 8px -10px 0 #fff, 8px -9px 0 #fff, 8px -8px 0 #fff, 8px -7px 0 #fff, 8px -6px 0 #fff, 8px -5px 0 #fff, 8px -4px 0 #fff, 8px -3px 0 #fff, 8px -2px 0 #fff, 8px -1px 0 #fff, 8px 0px 0 #fff, 8px 1px 0 #fff, 8px 2px 0 #fff, 8px 3px 0 #fff, 8px 4px 0 #fff, 8px 5px 0 #fff, 8px 6px 0 #fff, 8px 7px 0 #fff, 8px 8px 0 #fff, 8px 9px 0 #fff, 8px 10px 0 #fff, 8px 11px 0 #fff, 8px 12px 0 #fff, 8px 13px 0 #fff, 9px -12px 0 #fff, 9px -11px 0 #fff, 9px -10px 0 #fff, 9px -9px 0 #fff, 9px -8px 0 #fff, 9px -7px 0 #fff, 9px -6px 0 #fff, 9px -5px 0 #fff, 9px -4px 0 #fff, 9px -3px 0 #fff, 9px -2px 0 #fff, 9px -1px 0 #fff, 9px 0px 0 #fff, 9px 1px 0 #fff, 9px 2px 0 #fff, 9px 3px 0 #fff, 9px 4px 0 #fff, 9px 5px 0 #fff, 9px 6px 0 #fff, 9px 7px 0 #fff, 9px 8px 0 #fff, 9px 9px 0 #fff, 9px 10px 0 #fff, 9px 11px 0 #fff, 9px 12px 0 #fff, 10px -12px 0 #fff, 10px -11px 0 #fff, 10px -10px 0 #fff, 10px -9px 0 #fff, 10px -8px 0 #fff, 10px -7px 0 #fff, 10px -6px 0 #fff, 10px -5px 0 #fff, 10px -4px 0 #fff, 10px -3px 0 #fff, 10px -2px 0 #fff, 10px -1px 0 #fff, 10px 0px 0 #fff, 10px 1px 0 #fff, 10px 2px 0 #fff, 10px 3px 0 #fff, 10px 4px 0 #fff, 10px 5px 0 #fff, 10px 6px 0 #fff, 10px 7px 0 #fff, 10px 8px 0 #fff, 10px 9px 0 #fff, 10px 10px 0 #fff, 10px 11px 0 #fff, 10px 12px 0 #fff, 11px -11px 0 #fff, 11px -10px 0 #fff, 11px -9px 0 #fff, 11px -8px 0 #fff, 11px -7px 0 #fff, 11px -6px 0 #fff, 11px -5px 0 #fff, 11px -4px 0 #fff, 11px -3px 0 #fff, 11px -2px 0 #fff, 11px -1px 0 #fff, 11px 0px 0 #fff, 11px 1px 0 #fff, 11px 2px 0 #fff, 11px 3px 0 #fff, 11px 4px 0 #fff, 11px 5px 0 #fff, 11px 6px 0 #fff, 11px 7px 0 #fff, 11px 8px 0 #fff, 11px 9px 0 #fff, 11px 10px 0 #fff, 11px 11px 0 #fff, 12px -10px 0 #fff, 12px -9px 0 #fff, 12px -8px 0 #fff, 12px -7px 0 #fff, 12px -6px 0 #fff, 12px -5px 0 #fff, 12px -4px 0 #fff, 12px -3px 0 #fff, 12px -2px 0 #fff, 12px -1px 0 #fff, 12px 0px 0 #fff, 12px 1px 0 #fff, 12px 2px 0 #fff, 12px 3px 0 #fff, 12px 4px 0 #fff, 12px 5px 0 #fff, 12px 6px 0 #fff, 12px 7px 0 #fff, 12px 8px 0 #fff, 12px 9px 0 #fff, 12px 10px 0 #fff, 13px -8px 0 #fff, 13px -7px 0 #fff, 13px -6px 0 #fff, 13px -5px 0 #fff, 13px -4px 0 #fff, 13px -3px 0 #fff, 13px -2px 0 #fff, 13px -1px 0 #fff, 13px 0px 0 #fff, 13px 1px 0 #fff, 13px 2px 0 #fff, 13px 3px 0 #fff, 13px 4px 0 #fff, 13px 5px 0 #fff, 13px 6px 0 #fff, 13px 7px 0 #fff, 13px 8px 0 #fff, 14px -7px 0 #fff, 14px -6px 0 #fff, 14px -5px 0 #fff, 14px -4px 0 #fff, 14px -3px 0 #fff, 14px -2px 0 #fff, 14px -1px 0 #fff, 14px 0px 0 #fff, 14px 1px 0 #fff, 14px 2px 0 #fff, 14px 3px 0 #fff, 14px 4px 0 #fff, 14px 5px 0 #fff, 14px 6px 0 #fff, 14px 7px 0 #fff, 15px -4px 0 #fff, 15px -3px 0 #fff, 15px -2px 0 #fff, 15px -1px 0 #fff, 15px 0px 0 #fff, 15px 1px 0 #fff, 15px 2px 0 #fff, 15px 3px 0 #fff, 15px 4px 0 #fff;
    opacity: .25;
}
